body { 
    background-color:rgba(139, 41, 41, 0.671)
}
.container {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: left;
}
.text1 {
    width: 30px;
    height: 20px;
    color: aliceblue;
    background-color: rgb(173, 21, 28);
}
.text2 {
    color: rgb(69, 22, 201);
}

.text3 {
    font-size: 10px;
    margin: 30px;
}
.text4 {
    font-size: 40px;
    width: 40px;
}
.img1 {
    width: 50px;
    height: 50px;
    margin: 5px;
}
.img2 {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.img3 {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.img4 {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.gambar{
    display: flex;
    width: 30px;
    justify-content: center;
}
.footer {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 15px;
}
button:hover {
    background-color: yellow;
}